body {
background-color: rgb(255, 255, 255);
}

.log {
color: rgb(190, 190, 190);
margin-left: 80px;
background-color: rgb(240, 240, 240);
font-size: 80px;
width: 400px;
height: auto;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 30px;

}